[Unit]
Description=DockerApplication Container Engine
Documentation=https://docs.docker.com
After=network-online.targetfirewalld.service
Wants=network-online.target
[Service]
Type=notify
# the default isnot to use systemd for cgroups because the delegate issues still
# exists andsystemd currently does not support the cgroup feature set required
# for containersrun by docker
ExecStart=/usr/bin/dockerd --default-ulimit nofile=65536:65536  --selinux-enabled=false
ExecReload=/bin/kill-s HUP $MAINPID
# Having non-zeroLimit*s causes performance problems due to accounting overhead
# in the kernel.We recommend using cgroups to do container-local accounting.
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
# UncommentTasksMax if your systemd version supports it.
# Only systemd226 and above support this version.
#TasksMax=infinity
TimeoutStartSec=0
# set delegateyes so that systemd does not reset the cgroups of docker containers
Delegate=yes
# kill only thedocker process, not all processes in the cgroup
KillMode=process
# restart thedocker process if it exits prematurely
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s
[Install]
WantedBy=multi-user.target
